#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

#banner-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    padding-left: 15rem
}
#banner-text, #banner-text h1, #banner-text p{
    
    width: 50%;
    padding-left: 3rem; 
    text-align: left;
    
     
}
#banner-text  h1{   
    font-size: 2.5rem;
    font-weight: 800;
    color: #293462;
}

#banner-text p {
    color: #293462ba;
}

img {
    
    width: 100%;
    /* height: 50%; */
}